{#  -*- coding: utf-8 -*- #}
{% import 'altair_helper.tmpl' as altair with context %}

{% extends 'post.tmpl' %}

{% block extra_head %}
  {{ super() }}
  {{ altair.altair_scripts() }}
{% endblock %}
